<%- include("_header") %>
<body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Dashboard</span>
      </div>
        <ul class="nav-links">
          <li>
            <a href="/" >
              <i class='bx bx-grid-alt' ></i>
              <span class="links_name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="colleges" class="active">
              <i class='bx bx-box' ></i>
              <span class="links_name">Colleges</span>
            </a>
          </li>
          <li>
            <a href="list">
              <i class='bx bx-list-ul' ></i>
              <span class="links_name">View List</span>
            </a>
          </li>
      
          <li>
            <a href="accepted">
              <i class='bx bx-user' ></i>
              <span class="links_name">Accepted</span>
            </a>
          </li>
      
          <li>
            <a href="rejected">
              <i class='bx bx-cog' ></i>
              <span class="links_name">Rejected</span>
            </a>
          </li>
          <li class="log_out">
            <a href="logout">
              <i class='bx bx-log-out'></i>
              <span class="links_name">Log out</span>
            </a>
          </li>
        </ul>
    </div>
    <%- include("searchbar") %>
    
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Students</div>
          <div class="number">40,876</div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Eligible</div>
          <div class="number">38,876</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Accepted</div>
          <div class="number">$12,876</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Rejected</div>
          <div class="number">11,086</div>
        </div>
      </div>
      
    </div>
  
       
 
<%- include("_footer") %>