<!DOCTYPE html>
<html>
<head>
    <title>Some error occured</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f7f7f7;
        }

        .container {
            margin: 5% auto;
            padding: 20px;
            max-width: 600px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            font-size: 36px;
        }

        p {
            color: #666;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><%= message %></h1>
        <p>We're sorry, but the page you are looking for doesn't exist.</p>
        <p><a href="/">Return to the homepage</a></p>
    </div>
</body>
</html>
